.ingridients {
  display: grid;
  grid-template-columns: repeat(2, 240px);
  max-width: 600px;
  gap: 56px 32px;
  justify-content: center;
  overflow-y: scroll;
  height: 80vh;
}

.ingridients::-webkit-scrollbar {
  width: 8px;
}

/* .ingridients::-webkit-scrollbar-track {
  background-color:  #8585AD;
} */

.ingridients::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
.ingridients__icon {
  display: flex;
  align-items: center; 
}

.ingridients__text{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 240px;
}

.ingridients__ingridient {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
