.container {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  width: 100%;
}

.heading {
  max-width: 280px;
  width: 100%;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}



.numbers {
  display: flex;
  justify-content: space-between;
}

/* .number {
  max-width: 280px;
  width: 100%;
  align-self: flex-start;
} */

.headings {
  display: flex;
  justify-content: space-between;
}