.header {
  background-color: #1c1c21;
}

.header__nav {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 0;
}

.header__icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
}

.link {
  text-decoration: none;
  color: #8585ad;
}

.link_active {
  text-decoration: none;
  color: #fff;
}

.header__icons_type_user {
  justify-content: flex-end;
}

.header__icon {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  flex: 0;
}
